img {
    width: 100%;
    height: auto;
}

body {
    background-color: pink;
}

#navbar {
    background-color: #333;;
    overflow: hidden;
}

#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#navbar ul li{
    padding : 14px 20px;
}

#navbar ul li a{
    color: white;
    text-decoration: none;
    display: block;
}
#navbar ul li a:hover{
    background-color: #575757;
}